<div class="container">
    <div class="card text-success">
        <div class="card-header fw-bold">
            Registrar
        </div>
        <div class="card-body">
            <form action="/signup" method="post" id="modal-create-update">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" aria-describedby="helpId"
                        placeholder="Joaquin Chumacero" required >
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="helpId"
                        placeholder="joaquin_chumacero@gmail.com" required>
                </div>
                <div class="mb-3">
                    <label for="contrasenia" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" name="contrasenia" id="contrasenia"
                        placeholder="113.Rnsw?" required>
                </div>
                <div class="mb-3">
                    <label for="contraseniaw" class="form-label">Repite la contraseña</label>
                    <input type="password" class="form-control" name="contrasenia2" id="contrasenia2"
                        placeholder="113.Rnsw?" required>
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label">Telefono</label>
                    <input type="number" min="1" class="form-control" name="telefono" id="telefono"
                        aria-describedby="helpId" placeholder="76627873">
                </div>
                <div class="mb-3">
                    <label for="direccion" class="form-label">Direccion</label>
                    <input type="text" class="form-control" name="direccion" 
                        aria-describedby="helpId" placeholder="Avenida Banzer">
                </div>
                <div class="mb-3">
                  <label for="" class="form-label"></label>
                  <select class="form-control" name="genero" id="">
                    <option value="F">Femenino</option>
                    <option value="M">Masculino</option>
                  </select>
                </div>
                <input name="" id="" class="btn btn-success" type="submit" value="Guardar">
            </form>
        </div>
    </div>
</div>